.products {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.products ul {
  display: grid;
  grid-template-columns: repeat(auto-fit,
      minmax(200px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}

.products li {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, .1);
  border-radius: 6px;
  background: #fdfbfb;
  color: #fca540;
  list-style: none;
  margin: auto;
  padding: 0;
  width: 80%;
  gap: 10px;
}

.products h3 {
  margin: 0;
}

.products span {
  font-size: 1rem;
  opacity: .9;
}

.products img {
  border-radius: 4px;
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
  object-fit: cover;
  background: #fff;
}